// Default Theme for STAC Browser

// Most of the variables below are Bootstrap variables, see https://getbootstrap.com/docs/4.0/getting-started/theming/ for details.
// For simplicity we just provide some common options as default, but you can override all Bootstrap Sass variables.

// Header / Logo, either image (see below), text (shows CATALOG_TITLE) or none
$logo: 'none'; 
// If 'image' has been chosen above
$logo-image: 'https://raw.githubusercontent.com/radiantearth/stac-site/master/images/logo/stac-030-long.png';
$logo-image-height: 100px;


:root {
  // colors
  --darkblue: #003247;
  --lightblue: #00619E;
  --green: #008E7A;
  --lightgreen: #00AE9D;
  --yellow: #FBAB18;
  --orange: #F47920;
  --body-bg: #043346;

  --white: #fff;
  --black: #000;
  --light: #e7e7e7;
  --greylight: #F3F7F8;
  --stroke: #dcdcdc;

  --underline: #CCD6DA;

  // Colors in rgb
  --darkblue-rgb: 0, 50, 71;
  --lightblue-rgb: 0, 97, 158;
  --green-rgb: 0, 142, 122;
  --lightgreen-rgb: 0, 174, 157;
  --yellow-rgb: 251, 171, 24;
  --orange-rgb: 244, 121, 32;
  --light-rgb: 231, 231, 231;

  --text-4xl: 3.1875rem;
  --text-3xl: 2.375rem;
  --text-2xl: 1.75rem;
  --text-xl: 1.5rem;
  --text-lg: 1.25rem;
  --text-base: 1rem;
  --text-sm: 0.875rem;
  --text-xs: 0.75rem;
  --font-family: 'ESANotes', Arial, sans-serif;
}

// Background and text default colors
$body-bg: var(--dark-blue);
$body-color: #ced4da;

// Colors
$theme-colors: (
  "primary":       rgba(4, 51, 64, 1),
  "secondary":     #ced4da,
  "tertiary":      #00AE9D,
  "success":       #28a745,
  "info":          #09B3AD,
  "warning":       #ffc107,
  "danger":        #dc3545,
  "light":         #f8f9fa,
  "dark":          #343a40
);

// Breakpoints for responsive design
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1100px,
  xxl: 1600px,
  xxxl: 2500px
);

// Font size
$font-size-base: .9rem;
// Fonts for normal text
$font-family-sans-serif: 'Arial', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// Fonts for headings
$headings-font-family: $font-family-sans-serif;
// Fonts for code
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

// Heading sizes
$h1-font-size: 2.2rem;
$h2-font-size: 1.6rem;
$h3-font-size: 1.4rem;
$h4-font-size: 1.2rem;

// Heading color
$headings-color: null;

// Links
$link-color: map-get($theme-colors, "secondary");
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;

// Margin between the main sections of the page (header, content, footer)
$block-margin: 1rem;

// Margin at the top of the page (for a custom header)
$header-margin: 0px;

// Border radius
$border-radius: 0.25rem;

// Max. icon size
$max-icon-size: 32px;



@font-face {
  font-display: swap;
  font-family: "ESANotes";
  font-style: normal;
  font-weight: 400;
  src: url("@/theme/assets/fonts/NotesEsaReg.otf")
}

@font-face {
  font-display: swap;
  font-family: "ESANotes";
  font-style: normal;
  font-weight: 800;
  src: url("@/theme/assets/fonts/NotesEsaBol.otf")
}



